################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Jobboard-backend/Jobboard-backend/.vs/Jobboard-backend
/Jobboard-backend/Jobboard-backend/obj
